/* ------------------------------------------------GENERAL------------------------------------------------ */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
body {
  margin: 0;
}

/* ------------------------------------------------HEADER------------------------------------------------ */

.navbar {
  background-color: #ffde1a;
  display: flex;
  justify-content: center;
  gap: 1000px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  width: 100%;
  align-items: center;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  height: 100px;
  transition: height 0.3s, background-color 0.3s;
}

.navbar.transparent {
  background-color: transparent;
  box-shadow: none;
}

.menu a {
  position: relative;
  font-size: 18px;
  color: rgb(255, 255, 255);
  font-weight: 500;
  text-decoration: none;
}

.menu a::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 5%;
  width: 0;
  height: 2px;
  background: rgb(255, 255, 255);
  transition: 0.3s;
}

.menu a:hover::before {
  width: 90%;
  transition: 0.3s;
}

.logo-container {
  font-size: 30px;
  font-weight: bolder;
  padding: 20px;
}

.logo-container a {
  color: white;
  text-decoration: none;
}

.menu,
.menu a {
  right: 20px;
  display: flex;
  justify-content: space-around;
  gap: 50px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}

.login {
  position: absolute;
  right: 0;
  margin-right: 40px;
}

.logged-in {
  position: absolute;
  right: 0;
  margin-right: 40px;
}

.logged-in:hover {
  fill: #ff7400;
}

.login a {
  color: white;
  text-decoration: none;
}

.loginbutton {
  background-color: #ff7400;
  padding: 15px 30px;
  font-size: larger;
  font-weight: bold;
  border-radius: 10px;
  transition: 0.3s;
}
.loginbutton:hover {
  background-color: #ff8521;
  transition: 0.3s;
  padding: 15px 30px;
  font-size: larger;
  font-weight: bold;
  border-radius: 10px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.point {
  height: 100px;
  width: 100%;
  z-index: -100;
}

/* ------------------------------------------------CONTENT------------------------------------------------ */

/* video dashboard */
.video-dashboard {
  text-align: center;
  padding: 0px 0px;
  position: relative;
  z-index: -999;
  margin-top: 0px;
}

.video-dashboard video {
  width: 100%;
  height: auto;
}
.video-dashboard img {
  width: 100%;
  height: auto;
}

/* TEXT-CHANGING */
.text-changing-container {
  background-color: #ffde1a;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.3);
  padding: 20px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  overflow: hidden;
  position: relative;
  height: 250px;
  margin-top: -200px;
}

.text-changing {
  display: inline-block;
  color: #ff7400;
  font-size: 80px;
  position: absolute;
  width: 100%;
  white-space: nowrap;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.hidden {
  transform: translateX(100%);
  opacity: 0;
}

.visible {
  transform: translateX(0);
  opacity: 1;
}

/* ABOUT US */
body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

.about-us {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -25px;
  background-color: white;
}

.about-us-content {
  text-align: left;
  max-width: 800px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-left: 0px;
  width: 100%;
  font-size: 20px;
  color: #ff7e1b;
}

.short-hr {
  width: 85px;
  border: 0;
  background-color: #ff8d00;
  height: 4px;
}

.about-us-body {
  display: flex;
  align-items: flex-start;
  margin-top: 20px;
  font-size: 25px;
}

.about-us-body img {
  width: 250px;
  margin-right: 60px;
}

.text-selengkapnya {
  flex-grow: 1;
}

.text-selengkapnya p {
  color: #ff7e1b;
  margin-bottom: 20px;
}

.baca-selengkapnya a {
  transition: 0.4s;
  background-color: #ffce00;
  padding: 20px;
  border-radius: 30px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

.baca-selengkapnya a:hover {
  background-color: #ff7400;
  transition: 0.4s;
  color: white;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

/* -------------------------------------------------MENU------------------------------------------------- */

.popup {
  display: none;
  opacity: 0;
  position: fixed;
  left: 50%;
  top: 50%;
  height: 800px;
  width: 1124px;
  transform: translate(-50%, -50%) scale(0.5);
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  overflow-y: auto;
}

.popup.active {
  display: block;
}

.popup.show {
  display: block;
  animation: zoomIn 0.8s forwards;
}

.popup p {
  font-size: 30px;
  line-height: 1.6;
  text-align: justify;
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes zoomOut {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
  }
}

.popup.hide {
  animation: zoomOut 0.5s forwards;
}

.closePopup {
  position: absolute;
  top: 7px;
  right: 20px;
  background: none;
  border: none;
  font-size: 48px;
  cursor: pointer;
  color: #ff7400;
}

.closePopup:focus {
  outline: none;
}

.item1,
.item2,
.item3 {
  transition: transform 0.5s ease, filter 0.5s ease;
  position: relative;
  overflow: hidden;
}

.item1:hover,
.item2:hover,
.item3:hover {
  transform: scale(1.05);
}

.darken {
  filter: brightness(60%);
}

.item-name {
  transition: filter 0.5s ease;
}

.item1:hover .item-name,
.item2:hover .item-name,
.item3:hover .item-name {
  filter: brightness(120%);
  color: #ff7400;
}


.item1A img,
.item2A img,
.item3A img,
.item4A img,
.item5A img,
.item6A img,
.item7A img,
.item8A img,
.item9A img,
.item10A img,
.item11A img,
.item12A img,
.item13A img,
.item14A img {
  height: 450px;
  width: 600px;
  margin-left: 230px;
}


.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(29, 29, 29, 0.5);
  z-index: 999;
}

.konten {
  height: 100%;
  margin: 0px 240px;
  margin-top: 50px;
  background-color: white;
  z-index: 100;
}

.menumakanan-content h1 {
  color: #ff7e1b;
  font-size: 70px;
}

.item1,
.item2,
.item3,
.item-promo {
  margin: 20px 0;
  position: relative;
}

.item1 img,
.item2 img,
.item3 img,
.item-promo img {
  object-fit: cover;
  width: 100%;
  height: 242px;
  display: block;
  margin: 0 auto;
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

.item-name {
  position: absolute;
  bottom: 90px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  padding: 10px;
  font-size: 40px;
  font-weight: bolder;
  width: calc(100% - 20px);
  max-width: 600px;
  text-align: center;
}

.item a {
  opacity: 100%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.item a:hover {
  opacity: 70%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.lihatlainnya {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.lihatlainnya a {
  transition: 0.4s;
  background-color: #ffce00;
  padding: 20px;
  border-radius: 30px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

.lihatlainnya a:hover {
  background-color: #ff7400;
  transition: 0.4s;
  color: white;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

.orange-line {
  width: 78%;
  height: 5px;
  background-color: orange;
  margin: 80px auto;
}

.objects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.box {
  width: 300px;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  position: relative;
  overflow: hidden;
}

.box .image-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 5px;
}

.box .image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.menu-name {
  margin-top: 10px;
  font-weight: bold;
  text-align: center;
}

/* Hover Effect */
.box:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

/* button purchase */

.button-purchase {
  position: relative;
  margin-right: 0px;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  border-radius: 50px;
  background-color: hsl(34, 100%, 62%);
  border: solid 4px hsl(50deg 100% 50%);
  font-family: inherit;
}

.default-btn-prc,
.hover-btn-prc {
  background-color: hsl(43, 94%, 58%);
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 15px 20px;
  border-radius: 50px;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.hover-btn-prc {
  position: absolute;
  inset: 0;
  background-color: hsl(29, 100%, 50%);
  transform: translate(0%, 100%);
}

.default-btn-prc span {
  color: hsl(0, 0%, 100%);
}

.hover-btn-prc span {
  color: hsl(50deg 100% 50%);
}

.button-purchase:hover .default-btn-prc {
  transform: translate(0%, -100%);
}

.button-purchase:hover .hover-btn-prc {
  transform: translate(0%, 0%);
}

/* BASKET SYSTEM */

.container-basket {
  display: flex;
  justify-content: space-between;
  max-width: 800px;
}
.items-basket {
  flex: 1;
}
.basket {
  flex: 1;
  margin-left: 20px;
}
.item-list-basket {
  list-style-type: none;
  padding: 0;
}
.item-basket {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.item-image {
  width: 50px; 
  height: 50px; 
  margin-right: 10px;
}
.item-info {
  flex: 1;
}
.item-actions {
  display: flex;
  align-items: center;
}
.quantity-input {
  width: 50px;
  margin-right: 10px;
}
.price {
  font-weight: bold;
}
.action-buttons {
  margin-left: 10px;
}
.remove-button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
}
.remove-button:hover {
  background-color: #d32f2f;
}
.purchase-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
}
.purchase-button:hover {
  background-color: #45a049;
}
.total-price {
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
}

/* ------------------------------------------------FOOTER------------------------------------------------ */

#footer {
  display: flex;
  background-color: #ffb300;
}
.footer-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  height: 100px;
}

.footer-logo {
  position: relative;
  margin-left: 40px;
  height: 100px;
  width: 100px;
}

/* BUTTON */
.social-buttons {
  display: flex;
  background-color: #ffa246;
  box-shadow: 0px 0px 15px #00000027;
  padding: 15px 10px;
  border-radius: 3em;
  height: 80%;
  margin-right: 20px;
  margin-left: auto;
  margin-top: 30px;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 10px;
  background-color: #fff;
  box-shadow: 0px 0px 4px #00000027;
  transition: 0.3s;
}

.social-button:hover {
  background-color: #f2f2f2;
  box-shadow: 0px 0px 12px 6px #00000027;
}

.social-buttons svg {
  transition: 0.3s;
  height: 20px;
}

.facebook {
  background-color: #3b5998;
}

.facebook svg {
  fill: #f2f2f2;
}

.facebook:hover svg {
  fill: #3b5998;
}

.twitter {
  background-color: #333;
}

.twitter svg {
  width: 25px;
  height: 25px;
  fill: #ffffff;
}

.twitter:hover svg {
  fill: #333;
}

.yutub {
  background-color: #ff0000;
}

.yutub svg {
  fill: #f2f2f2;
}

.yutub:hover svg {
  fill: #ff0000;
}

.instagram {
  background-color: #c13584;
}

.instagram svg {
  fill: #f2f2f2;
}

.instagram:hover svg {
  fill: #c13584;
}

/* LOGIN */
.kiri {
  top: 0;
  left: 0;
  height: 100%;
  width: 40%;
  position: absolute;
  background-color: #ffde1a;
  z-index: -20;
}

.kiri img {
  padding: 40px;
  width: 170px;
  height: 150px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.kiri img:hover {
  margin-left: 20px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.kiri a:hover {
  opacity: 70%;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.kiri a {
  opacity: 100%;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.kanan {
  top: 0;
  right: 0;
  height: 100%;
  width: 60%;
  position: absolute;
  background-color: white;
  z-index: -20;
}

.isi {
  margin: 150px 200px;
  box-shadow: 0px 0px 20px -10px;
  display: flex;
}

.kiri-isi {
  top: 0;
  left: 0;
  height: 100%;
  width: 37.4%;
  background-color: #ffde1a;
  z-index: 200;
  padding: 40px;
  text-align: center;
}

.kiri-isi h1 {
  font-weight: bolder;
  font-size: 50px;
  padding-bottom: 15px;
}
.kiri-isi p {
  font-weight: 500;
  font-size: 20px;
}

.kanan-isi {
  top: 0;
  right: 0;
  height: 100%;
  width: 62.6%;
  background-color: white;
  z-index: 200;
  padding: 80px;
}

.kanan-isi h1 {
  font-weight: bolder;
  font-size: 35px;
  padding-bottom: 15px;
  text-align: center;
}

.kanan-isi h3 {
  font-weight: 300;
  font-size: 20px;
  padding-bottom: 10px;
}

.kanan-isi p {
  font-weight: 300;
  font-size: 15px;
}

.kanan-isi input {
  width: 100%;
  height: 50px;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 20px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border: 0;
  box-shadow: 0 0 5px -3px;
}

.login-akun {
  display: flex;
  justify-content: center;
}

.login-akun button {
  font-size: 15px;
  font-weight: bold;
  background-color: #ffce00;
  margin-top: 20px;
  padding: 20px;
  width: 50%;
  cursor: pointer;
  border-radius: 15px;
  transition: 0.5s;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.login-akun button:hover {
  font-weight: bold;
  background-color: #ff7400;
  margin-top: 20px;
  padding: 20px;
  width: 50%;
  transition: 0.5s;
}

/* Halaman Menu */
.box {
  float: left;
  background-color: whitesmoke;
  color: rgb(0, 0, 0);
  width: 454px;
  height: 500px;
  line-height: 125px;
  text-align: center;
  margin: 10px;
  display: none;
}

.show {
  display: block;
}

.btn {
  border: none;
  outline: none;
  margin: 20px 0;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
}

/* About Us Page */
.about-konten {
  background-color: white;
  padding: 50px 240px;
  width: 100%;
  height: 500px;
  margin-top: 240px;
}

.opening h1 {
  margin-top: -650px;
  margin-left: 240px;
  color: white;
  font-size: 120px;
}
.opening h3 {
  margin-top: -40px;
  margin-bottom: 15px;
  margin-left: 240px;
  color: white;
  font-size: 30px;
}

.ketahui {
  margin-left: 240px;
  padding: 10px;
  background-color: #333;
  opacity: 80%;
  border: 3px solid white;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  transition: 0.3s;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.ketahui:hover {
  color: black;
  background-color: white;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.about-konten-isi {
  display: flex;
}
.about-konten-isi p {
  font-size: 20px;
  margin-top: 40px;
  margin-left: 40px;
}

.pembatas {
  border: 0;
  padding: 2px;
  background-color: #ff7e1b;
  width: 100%;
  margin-top: 40px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  transition: 0.3s;
  margin-left: -20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content:hover {
  background-color: #cacaca;
  border-radius: 5px;
}
.show {
  display: block;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
