/* ------------------------------------------------GENERAL------------------------------------------------ */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}
body {
  margin: 0;
}

/* ------------------------------------------------HEADER------------------------------------------------ */

.navbar {
  background-color: #FFDE1A;
  display: flex;
  justify-content: center;
  gap: 1000px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  width: 100%;
  align-items: center;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  height: 100px;
  transition: height 0.3s;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  -ms-transition: height 0.3s;
  -o-transition: height 0.3s;
}

.navbar a{
  position: relative;
  font-size: 18;
  color: rgb(255, 255, 255);
  font-weight: 500;
  text-decoration: none;
}

.navbar a::before{
  content: '';
  position: absolute;
  top: 100%;
  left: 5%;
  width: 0;
  height: 2px;
  background: rgb(255, 255, 255);
  transition: .3s;
}

.navbar a:hover::before{
  width: 90%;
  transition: .3s;
}

.logo-container {
  font-size:30px;
  font-weight: bolder;
}

.navbar .logo {
  margin-right: 20px;
}

.menu, .menu a {
  display: flex;
  justify-content: space-around;
  gap: 50px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}

.login{
  position: absolute;
  right: 0;
  margin-right:40px;
}

.login a{
  color: white;
}

.loginbutton{
  background-color: #FF7400;
  background: #FF7400 ;
  padding: 15px 30px;
  font-size: larger;
  font-weight: bold;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.point{
  height: 100px;
  width: 100%;
  z-index: -100;
}
/* ------------------------------------------------CONTENT------------------------------------------------ */

/* foto dashboard */
.foto-dashboard {
  text-align: center;
  background-color: #ffebcd;
  padding: 0px 0px;
  position: relative;
  z-index: -999;
  margin-top: 40px;
}

.foto-dashboard img {
  max-width: 100%;
  height: auto;
}

/* TEXT-CHANGING */
.text-changing-container {
  background-color: #FFDE1A;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.3);
  padding: 20px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  overflow: hidden;
  position: relative;
  height: 250px;
  margin-top: -40px;
}

.text-changing {
  display: inline-block;
  color: #FF7400;
  font-size: 80px;
  position: absolute;
  width: 100%;
  white-space: nowrap;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.hidden {
  transform: translateX(100%);
  opacity: 0;
}

.visible {
  transform: translateX(0);
  opacity: 1;
}

/* ABOUT US */
body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

.about-us {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.about-us-content {
  text-align: left;
  max-width: 800px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-left: 0px;
  width: 100%;
  font-size: 20px ;
  color:#ff7e1b  ;
}

.short-hr {
  width: 85px;
  border: 0;
  background-color: #FF8D00 ;
  height: 4px;
}

.about-us-body {
  display: flex;
  align-items: flex-start;
  margin-top: 20px;
}

.about-us-body img {
  max-width: 300px;
  margin-right: 20px;
}

.text-selengkapnya {
  flex-grow: 1;
}

.text-selengkapnya p {
  color: #ff7e1b;
  margin-bottom: 20px;
}

.baca-selengkapnya a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff7e1b;
  color: white;
  border-radius: 20px;
  text-decoration: none;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

/* -------------------------------------------------MENU------------------------------------------------- */
.konten{
  margin: 30px 240px;
}
.menumakanan-content h1{
  color:#ff7e1b ;
  font-size: 70px;
}

.item {
  margin: 20px 0;
  position: relative;
}

.item img {
  object-fit: cover;
  width: 100%;
  height: 242px;
  display: block;
  margin: 0 auto;
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

.item-name {
  position: absolute;
  bottom: 90px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  padding: 10px;
  font-size: 40px;
  font-weight: bolder;
  width: calc(100% - 20px);
  max-width: 600px;
  text-align: center;
}

.item a{
  opacity: 100%;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
}

.item a:hover{
  opacity: 70%;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
}

.lihatlainnya{
  margin-top: 40px;
}

.lihatlainnya a{
  transition: .4s;
  background-color: #FFCE00;
  padding: 20px;
  border-radius: 30px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -ms-transition: .4s;
  -o-transition: .4s;
}

.lihatlainnya a:hover{
  background-color: #FF7400;
  transition: .4s;
  color: white;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -ms-transition: .4s;
  -o-transition: .4s;
}

.penutupan{
  width: 100%;
}

/* ------------------------------------------------FOOTER------------------------------------------------ */

#footer {
  display: flex;
  background-color: #ffb300;
}
.footer-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  height: 100px;
}

.footer-logo {
  position: relative;
  margin-left: 40px;
  height: 100px;
  width: 100px;
}

/* BUTTON */
.social-buttons {
  display: flex;
  background-color: #ffa246;
  box-shadow: 0px 0px 15px #00000027;
  padding: 15px 10px;
  border-radius: 3em;
  height: 80%;
  margin-right: 20px;
  margin-left: auto;
  margin-top: 30px
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 10px;
  background-color: #fff;
  box-shadow: 0px 0px 4px #00000027;
  transition: 0.3s;

}

.social-button:hover {
  background-color: #f2f2f2;
  box-shadow: 0px 0px 12px 6px #00000027;
}

.social-buttons svg {
  transition: 0.3s;
  height: 20px;
}

.facebook {
  background-color: #3b5998;
}

.facebook svg {
  fill: #f2f2f2;
}

.facebook:hover svg {
  fill: #3b5998;
}

.twitter {
  background-color: #333;
}

.twitter svg {
  width: 25px;
  height: 25px;
  fill: #ffffff;
}

.twitter:hover svg {
  fill: #333;
}

.yutub {
  background-color: #ff0000;
}

.yutub svg {
  fill: #f2f2f2;
}

.yutub:hover svg {
  fill: #ff0000;
}

.instagram {
  background-color: #c13584;
}

.instagram svg {
  fill: #f2f2f2;
}

.instagram:hover svg {
  fill: #c13584;
}


